doctype html
html
    include components/head
    body
        .container
            .divider-5
            include components/typo
            .divider-5
            include components/grid
            .divider-5